:root {
  --glass: rgba(255, 255, 255, 0.12);
  --text: #fff;
  --accent: #00c6ff;
  --shadow: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  overflow: hidden;
  margin-top: 25px;
}

/* Fundo */
.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1.2s ease;
}
.bg-layer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(60px);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
}

/* Canvas */
#weatherCanvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* App */
.app {
  width: 100%;
  max-width: 561px;
  padding: 25px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  position: relative;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.app::-webkit-scrollbar {
  width: 6px;
}
.app::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 20px;
}

/* Search */
.search-box {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
input {
  flex: 1;
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
  font-size:22px;
  backdrop-filter: blur(10px);
}
input:focus {
  border-color: var(--accent);
  background: rgba(255, 255, 255, 0.25);
}
button {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(145deg, var(--accent), #5de1ff);
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 15px var(--shadow);
}
button:hover {
  transform: scale(1.1);
}
.icon{
  font-size: 25px;
}

/* Weather */
.weather-box {
  text-align: center;
  margin-bottom: 20px;
}
.temp {
  font-size: 6vw;
  font-weight: 200;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 40px rgba(0, 200, 255, 0.473);
}
h2 {
  font-size:2.5vw;
  font-weight: 600;
  color: white;
}

/* Forecast */
.forecast {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 15px;
}
.day-card {
  width: 120px;
  padding: 18px;
  border-radius: 25px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  text-align: center;
  scroll-snap-align: center;
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  flex-shrink: 0;
}
.day-card img {
  width: 50px;
  margin: 6px 0;
}
.day-card p {
  font-size: 14px;
  color: white;
  margin: 4px 0;
}

/* Map */
#map {
  height: 180px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}

/* Responsivo */
@media screen and (max-width: 500px) {
  .temp {
    font-size: 16vw;
  }
  input {
    width: 50px;
    height: 45px;
  }
  button {
    width: 45px;
    height: 45px;
  }
  .icon {
    font-size: 20px;
  }
  h2 {
    font-size: 8vw;
  }
  .day-card {
    width: 28vw;
    padding: 12px;
  }
  .day-card img {
    width: 22vw;
  }
  .day-card p {
    font-size: 4vw;
  }
  #map {
    height: 30vw;
  }
}
